* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
  }


header {
    background-color:rgba(0,0,0,0.3);
    padding: 30px;
    text-align: center;
    font-size: 80px;
    color: black;
  }

.flex-container {
      display: flex;
      background-color: rgba(0,0,0,0.1);
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  